
{% extends 'base.html.twig' %}
{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}


<body>

<h1>PRESENTATION</h1>
<p> ALL4SPORT a été créé en 2008 à partir d’une idée toute simple: répondre aux besoins
 des sportifs amateurs et passionnés en leur proposant une gamme d’articles de sports
 adaptés à chacun d’eux.
 ALL4SPORT est une société anonyme au capital de 150 K€, elle réalise un chiffre
 d’affaires annuel d’1,2 M€ et compte plus de 200 collaborateurs. Son siège social est basé
 à Lille, carrefour de l’Europe et grande ville étudiante et aux citoyens dynamiques.</p>

 <h1>ACTIVITES PRINCIPALES</h1>
 <p>ALL4SPORT s’est organisé autour de 2 activités principales :
 <br>
 ● lalogistique : stockage et transport
 ● lavente : magasin et service en ligne</p>

</body>




{% endblock %}